$purple: #8453c6;
$purpleDark: #58167a;
$pink: #e831cb;
$blue: #322694;
$blueDark: #25207D;
$grey: #f3f2f1;

$chartGreen: #00e396;
$chartRed: #ff4560;
$chartOrange: #feb019;
$chartBlue: #008ffb;
$chartPurple: #775dd0;